*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.welcome-box{
    text-align: center;
    width: 100%;
    height: 100%;
}
.welcome-box h1{
    font-size: 56px;
    width:80%;
    margin: 80px auto 20px;
    -webkit-text-stroke: 2px rgb(33, 121, 58);
    color: transparent;
}
.welcome-box h3{
    -webkit-text-stroke: 1.2px rgb(10, 142, 163);
    color: transparent;
    font-size: 25px;
}
.welcome-box button{
    padding:10px 30px;
    margin: 20px;
    border-radius: 10% 40%;
    border: none;
    font-size: 36px;
    box-shadow: 0px 2px 3px black;
    color: transparent;
    -webkit-text-stroke: 1px rgb(1, 97, 28);

}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(103, 209, 103);
    display: flex;
    align-items: center;
    justify-content: center;
}
#panel {
    width:80%;
    height: 90%;
    background-color:#fff ;
    border-radius: 10px;
    overflow: hidden;
}
#ptop{
    display: flex;
    color: #fff;
    padding: 0 30%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color:rgb(4, 144, 4);
}
.elem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.box {
    color: #000;
    font-weight: 700;
    font-size: 26px;
    padding: 10px;
    background-color: #fff ;
    border-radius: 5px;
}
#pan-box{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    padding-left:20px;
}
#hitVal{
    color:rgb(15, 51, 141);
    background-color: rgb(3, 253, 169);
    font-size: 40px;
    border-radius: 50% 50% 0 0;
}
.bubble{
    width: 60px;
    height: 60px;
    color: #fff;
    margin: 10px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
    font-size: 30px;
    animation: bubble 5s linear infinite alternate ;
}
.bubble:hover{
    background-color: rgb(5, 210, 18);
    cursor: pointer;
    color: brown;
    scale: 1.03;
}

@keyframes bubble{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-450px);
    }
}

.game-over{
    font-size: 80px;
    text-align: center;
    margin: 150px  auto 0;
    transition: all ease 0.5s;
}
.game-over ~ p{
    text-align: center;
    font-size: 25px;
    color:rgb(163, 128, 13);
}




@media screen and (max-width:768px) {
    #ptop{
        padding: 0 20px;
        font-size: small;
        justify-content: space-evenly;
    }
    .box{
        font-size: small;
        padding: 5px;
    }
    .bubble{
        width: 8%;
        height: 5%;
        font-size: smaller;
    }
}